<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>hub</title>
</head>
<body>
<h1>각종View로 이동하는 TEST용 허브입니다.</h1>

<button onclick="location.href='/layout/common_layout'"> common 레이아웃 으로 이동</button>

<h3>타임라인</h3>
<button onclick="location.href='/timeline/list'+'?viewType=blog&contentsType=1'">인기글 목록 조회</button>
<hr>
<h3> 관리자 메뉴</h3>
<button onclick="location.href='/manager/reportList'">신고목록으로 이동</button>
<hr>
<h3>테스트코드</h3>
<form action="/common/makepassword" method="post">
    <input type="text" name="pass">
    <button type="submit">비밀번호 제조기</button>
</form>
<button onclick="location.href='/common/makelikelist'">좋아요 리스트 추가하기</button>
<hr>
<input type="button" value="로그아웃" id="logout">
<br>
<script>
    const message = '[[${message}]]';
    if (message) {
        alert(message);
    }
</script>
</body>
</html>