<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>hub</title>
    <script type="text/javascript" src="/js/event.js"></script>
</head>
<body>
<h1>각종View로 이동하는 TEST용 허브입니다.</h1>

<button onclick="location.href='/layout/01_layout'">레이아웃1로 이동</button>
<button onclick="location.href='/layout/02_layout'">레이아웃2로 이동</button>
<button onclick="location.href='/layout/03_layout'">레이아웃3로 이동</button>
<button onclick="location.href='/layout/04_layout'">레이아웃4로 이동</button>
<button onclick="location.href='/layout/05_layout'">레이아웃5로 이동</button>


<h3>타임라인 테스트 코드</h3>
<button onclick="location.href='/timeline/trendlist'">인기글 목록 조회</button>
<hr>
<form action="/common/makepassword" method="post">
    <input type="text" name="pass">
    <button type="submit">비밀번호 제조기</button>
</form>

<!-- 임시 로그아웃 기능-->
<hr>
<input type="button" value="로그아웃" id="logout">
<br>
<br>
<h4> 관리자 메뉴</h4>
<button onclick="location.href='/manager/reportList'">신고목록으로 이동</button>
<br>
<br>
<h4>블로그 화면</h4>
<a href="/post/main">블로그메인화면</a>
</body>
</html>

</body>
</html>