<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com._3dhs.tnproject.member.dao.MemberMapper">
<resultMap id="profileMap" type="com._3dhs.tnproject.member.dto.ProfileDTO">
    <id property="memberCode" column="member_code"/>
</resultMap>


<!--<resultMap id="profileMap" type="com._3dhs.tnproject.member.dto.ProfileDTO">-->
<!--    <id property="memberCode" column="member_code"/>-->
<!--</resultMap>-->
<resultMap id="memberMap" type="com._3dhs.tnproject.member.dto.MemberDTO">
    <id property="memberCode" column="member_code"/>
    <result property="memberId" column="member_id"/>
    <association property="profile" resultMap="profileMap"/>
</resultMap>

    <select id="findByMemberId" resultType="com._3dhs.tnproject.member.dto.MemberDTO">
        SELECT
            *
        FROM
            tbl_member
        <where>
            <if test="memberId != null">
                member_id = #{memberId}
            </if>
        </where>
    </select>

    <select id="selectMemberById" resultType="string">
        SELECT
        member_id
        FROM
        tbl_member
        <where>
            <if test="memberId != null">
                member_id = #{memberId}
            </if>
        </where>
    </select>

    <insert id="insertMember">
        INSERT INTO
            tbl_member (member_id, member_pwd, member_gender, member_age, member_birth, member_subdate, member_status,
                      have_tissue, member_authority)
        VALUES
            (#{ memberId }, #{ memberPwd }, #{ memberGender }, #{ memberAge }, #{ memberBirth }, now(),
             'ACTIVE', 0, 'COMMON')
    </insert>

</mapper>