<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folder Edit Page</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
<div class="wrap">
    <header>
        <div class="profile">
            <button class="optionBtn"><img src="/image/icon_option.png" alt="프로필 옵션 버튼"></button>
            <ul class="optionBox">
                <li><a>프로필 수정</a></li>
                <li><a>공유</a></li>
            </ul>
            <div class="profileStatus">
                <div class="prof_photo"><img src="/image/icon_no_image_lg.png" alt="프로필 사진"></div>
                <div class="prof_txt">
                    <strong>닉네임</strong>
                    <span>상태메시지</span>
                </div>
            </div>
            <div class="profileInfo">
                <span class="tissueCount">500</span>
                <button class="myBlogBtn btn">내 블로그</button>
            </div>
        </div>
        <nav>
            <ul class="rnb">
                <li>
                    <button>홈</button>
                </li>
                <li>
                    <button>회원 정보</button>
                </li>
                <li>
                    <button>결제 관리</button>
                </li>
                <li>
                    <button>차단 목록</button>
                </li>
                <li>
                    <button>관리기록 조회</button>
                </li>
                <li>
                    <button>신고목록 조회</button>
                </li>
                <li>
                    <button>회원정보 검색</button>
                </li>
                <li class="logoutBtn">
                    <button>로그아웃</button>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="title">
            <button class="backBtn"><img src="/image/btn_arrow.png" alt="뒤로가기 버튼"></button>
            <div>
                <h1>폴더 편집</h1>
            </div>
            <input class="search_input" type="text" placeholder="검색어를 입력하세요">
            <button class="searchBtn"><img src="/image/btn_search.png" alt="검색 버튼"></button>
            <button class="closeBtn"><img src="/image/btn_close.png" alt="닫기 버튼"></button>
            <div class="btnWrap">
                <button class="btn">완료</button>
            </div>
        </form>
        <section> <!-- 각자 개인 페이지들을 section 태그 안에 작성하세요. -->

            <!--            <form action="">-->
            <div class="btnWrap">
                <button class="addBtn btn gray">추가</button>
                <button class="deleteBtn btn gray">삭제</button>
            </div>
            <ul class="fEditList">
                <li class="fixed">전체목록 (<span>56</span>)</li>
                <li><img src="/image/icon_folder.png" alt="기본 폴더 아이콘"> <span>폴더 1의 폴더명</span></li>
            </ul>

            <dl>
                <dt>폴더명</dt>
                <dd>
                    <div class="txt">
                        <input id="folderName" type="text" readonly>
                        <em>* 폴더는 최대 10개 까지 추가 가능합니다.</em>
                    </div>
                </dd>
                <dt class="iconDt">아이콘 설정</dt>
                <dd>
                    <div class="iconBox">
                        <img src="/image/icon_folder.png" alt=""/>
                        <img src="/image/icon_star.png" alt=""/>
                        <img src="/image/icon_heart.png" alt=""/>
                        <img src="/image/icon_lamp.png" alt=""/>
                        <img src="/image/icon_note.png" alt=""/>
                    </div>
                </dd>
            </dl>

            <script>
                const $addBtn = document.querySelector(".addBtn");
                const $delBtn = document.querySelector(".deleteBtn");
                const $fragment = document.createDocumentFragment();
                const $feList = document.querySelector(".fEditList");
                const fName = document.getElementById("folderName");

                // 이벤트 리스너 등록
                $addBtn.addEventListener('click', addFolder);
                $delBtn.addEventListener('click', deleteFolder);
                $feList.addEventListener('click', handleClick);
                fName.addEventListener("keydown", handleEnter);
                fName.addEventListener("focus", handleFocus);
                fName.addEventListener("blur", handleBlur);
                fName.addEventListener('input', handleInput);
                document.querySelector(".iconBox").addEventListener("click", handleIconClick);

                function addFolder() {
                    const fNameValue = fName.value;
                    if (!fNameValue) {
                        const $li = createFolderElement();
                        if ($feList.querySelectorAll("li").length <= 10) {
                            $fragment.appendChild($li);
                            $feList.appendChild($fragment);
                        } else {
                            alert("폴더는 최대 10개 까지만 생성 가능합니다.");
                        }
                    }
                }

                function createFolderElement() {
                    const $li = document.createElement("li");
                    const $span = document.createElement("span");
                    $span.textContent = '폴더';
                    $li.appendChild(createFolderImage());
                    $li.appendChild($span);
                    return $li;
                }

                function createFolderImage() {
                    const $img = document.createElement("img");
                    $img.src = "/image/icon_folder.png";
                    return $img;
                }

                function deleteFolder() {
                    const $feListActive = $feList.querySelector(".active");
                    if($feListActive) {
                        $feListActive.remove();
                        inputBlur();
                    } else {
                        alert("삭제할 폴더를 선택해 주세요.");
                    }
                }

                function handleClick(e) {
                    let thisEl = e.target;
                    if (thisEl.tagName === "LI" || thisEl.tagName === "SPAN" || thisEl.tagName === "IMG") {
                        removeActive();
                        if (thisEl.tagName === "LI" && !thisEl.classList.contains("fixed")) {
                            thisEl.classList.add("active");
                        } else if (thisEl.tagName === "SPAN") {
                            thisEl.parentElement.classList.add("active");
                        } else if (thisEl.tagName === "IMG") {
                            thisEl.parentElement.classList.add("active");
                            document.querySelector(".iconDt").classList.add("active");
                        }
                        if (thisEl.tagName === "LI" && !thisEl.classList.contains("fixed") || thisEl.tagName === "SPAN") {
                            inputFocus(thisEl);
                        }
                    }
                }

                function handleFocus() {
                    $feList.querySelector(".active").classList.add("active_tit");
                }

                function handleBlur() {
                    inputBlur();
                }

                function handleInput() {
                    $feList.querySelector(".active span").textContent = fName.value;
                }

                function handleEnter(e) {
                    if (e.key === "Enter") {
                        removeActive();
                        inputBlur();
                    }
                }

                function handleIconClick(e) {
                    let thisEl = e.target;
                    if (thisEl.tagName === "IMG") {
                        let thisSrc = thisEl.src.slice(thisEl.src.indexOf("/image"));
                        $feList.querySelector(".active img").src = thisSrc;
                        document.querySelector(".iconDt").classList.remove("active");
                        removeActive();
                    }
                }

                function inputBlur() {
                    const $activeElement = $feList.querySelector(".active_tit");
                    if ($activeElement) {
                        $activeElement.classList.remove("active_tit");
                    }
                    fName.setAttribute("readonly", "readonly");
                    fName.value = '';
                    fName.blur();
                }

                function inputFocus(thisEl) {
                    let thisfName = thisEl.textContent;
                    fName.removeAttribute("readonly");
                    fName.value = thisfName;
                    fName.focus();
                }

                function removeActive() {
                    const $lis = $feList.querySelectorAll("li");
                    $lis.forEach((li) => {
                        li.classList.remove("active");
                    })
                }
            </script>

        </section>
    </main>
</div>
</body>
</html>