/**

1.0 - Blog Page Design Common
2.0 - Folder Edit Page
3.0 - Blog Write Page
4.0 - Temporary Storage List Page
5.0 - Blog List Page
6.0 - Blog Detail Page

update : 2024-03-25
*/
/*------------------------------------------
    2.0     Folder Edit Page
 ------------------------------------------*/
.btn * {
    color: inherit;
}

section:has(.fEditList) {
    padding: 40px 0;
}

em {
    font-size: 12px;
    color: #448AC6;
    margin-left: 5px;
}

.fEditList {
    width: 350px;
    height: 380px;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    padding-bottom: 20px;
    margin: auto;
}

.fEditList * {
    font-size: 14px;
    color: #595959;
}

.fEditList li {
    display: flex;
    align-items: center;
}

.fixed {
    width: 310px;
    padding: 20px 15px;
    border-bottom: 1px solid #E1E1E1;
    margin: auto auto 20px;
}

.fixed,
.fixed * {
    color: #D9D9D9;
}

.fEditList li:not(.fixed) {
    padding: 4px 45px;
    cursor: pointer;
}

.fEditList li.drag_active {
    background-color: #E1E1E1;
}

.fEditList li:not(.fixed):hover,
.fEditList li:not(.fixed).active {
    background-color: #F2F2F2;
}

.fEditList li:not(.fixed).active_tit span {
    color: #779289;
    background-color: #FFF;
    padding: 0 10px;
}

.fEditList li img {
    margin-right: 10px;
}

.fEditList + dl {
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 40px auto;
}

.fEditList + dl dt {
    display: inline-block;
    width: 110px;
    color: #404040;
    padding-right: 30px;
}

.fEditList + dl dd {
    display: inline-flex;
    width: calc(100% - 110px);
}

.fEditList + dl input {
    width: 100%;
    height: 30px;
}

.fEditList + dl input[readonly] {
    background-color: #F2F2F2;
    cursor: not-allowed;
}

.fEditList + dl .iconDt,
.fEditList + dl .iconDt + dd {
    display: none;
    margin-top: 20px;
}

.fEditList + dl .iconDt.active,
.fEditList + dl .iconDt.active + dd {
    display: inline-flex;
}

.iconBox {
    padding: 0 20px;
}

.iconBox * {
    /*border: 1px solid #E1E1E1; */
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

section:has(.fEditList) .btnWrap {
    width: 350px;
    justify-content: flex-end;
    margin: auto auto 20px;
}

/*------------------------------------------
    3.0     Blog Write Page
 ------------------------------------------*/

section:has(.post_setting,.post) {
    padding: 0 20px;
}

section:has(.post_tit) .post_tit {
    padding: 0;
    border: none;
    width: 100%;
    margin: 30px 0;
    height: 20px;
}

textarea.post_content {
    width: 100%;
    height: 450px;
    padding: 10px;
}

.post_setting {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.post_setting dt,
.post_setting dd {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E1E1E1;
}

.post_setting dt {
    width: 90px;
    color: #404040;
    padding-left: 10px;
}

.post_setting dd {
    width: calc(100% - 90px);
    padding-right: 10px;
}

.post_setting dd textarea {
    width: 100%;
    height: 70px;
    padding: 10px;
}

/*------------------------------------------
    4.0     Temporary Storage List Page,
    5.0     Blog List Page
 ------------------------------------------*/

section:has(.tbl_list, h2) {
    padding: 20px;
}

section:has(.tbl_list, h2) h2,
section:has(.tbl_list, h2) h2 * {
    color: #317AA9;
    font-weight: normal;
}

.title:has(.btnWrap.active) .btnWrap:not(.active) {
    display: none;
}

.btnWrap button + button + button {
    margin-left: 20px;
}

.tbl_list {
    table-layout: fixed;
    margin-top: 30px;
}

.tbl_list input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border-color: #85BFE2;
    margin-right: 0;
}

.tbl_list input[type="checkbox"]:checked {
    background-image: url(../image/icon_check_checked.png);
    background-size: 15px;
    background-color: #85BFE2;
}

.tbl_list:has(input[type="checkbox"]) td {
    padding: 0 5px;
}

th,
td {
    padding: 0 10px;
    font-weight: normal;
}

td * {
    color: #85BFE2;
    font-size: inherit;
}

.tbl_check {
    display: none;
    width: 25px;
}

.tbl_user {
    width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tbl_date {
    width: 90px;
}

.tbl_tit * {
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}

.paging {
    justify-content: center;
    margin-top: 50px;
}

/*------------------------------------------
    6.0     Blog Detail Page
 ------------------------------------------*/

.detail .optionBox li > * {
    display: block;
}

.detail .list_body .contentTit {
    white-space: normal;
}

.detail.snsList .list_body .contentsTxt {
    display: block;
}

.tagList {
    margin: 20px 0;
}

.tagList li {
    border: none !important;
    display: inline-block;
    margin-right: 10px;
}

.tagList li:nth-last-child(1) {
    margin-right: 0;
}

.detail.snsList .list_body .showLikeAndComments {
    position: static;
    padding: 0 35px;
}


